
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    padding: 20px;
    background-color: #5e3f3f;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-container {
    height: 40vh;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    animation: slideShow 12s infinite;
}



h2 {
    color: #333;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .search-container {
        animation: slideShow 12s infinite; /* Change background every 12 seconds */
    }
}


@keyframes slideShow {
    5% {
        background: url('../images/chucky.jpg') no-repeat center center/cover;
    }
    20% {
        background: url('../images/deadpo.jpg') no-repeat center center/cover;
    }

40% {
    background: url('../images/cartoon.jpg') no-repeat center center/cover;
}
60% {
    background: url('../images/movie.jpg') no-repeat center center/cover;
}
80%{
    background: url('../images/studio.jpg') no-repeat center center/cover;
}
    95% {
        background: url('../images/spider.jpg') no-repeat center center/cover;
    }
}